@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto+Condensed:wght@300;400;700&display=swap');

body {
  margin: 0;
  font-family: 'Lato';
  /* font-family: -apple-system, BlinkMacSystemFont */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
